
<template>
  <div>
    Hello Home Page
  </div>
  <NuxtPage />
</template>
<script lang="ts" setup>
import HelloWorld from "~/vuetify-project/src/components/HelloWorld.vue";

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})
</script>

//미들웨어에 감싸줘야한다.
//모든 페이지에 미들웨어가 감시하게끔 로그인은 미들웨어가 필요없다.
//그래서 로그인 페이지에는 없다
