<script lang="ts" setup>
import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
import { useAuthStore } from '~/stores/testauth'; // import the auth store we just created

const { authenticateUser } = useAuthStore(); // use authenticateUser action from  auth store
const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs
const user = ref({
  username: 'string12',
  password: 'string123123',
});

// 서로 상태공유 그래서  ref 처리
const router = useRouter();
// 라우터 페이지 이동 시켜주는 애 er
//왜 필요한가?
const login = async () => {
  await authenticateUser(user.value); // call authenticateUser and pass the user object
  // redirect to homepage if user is authenticated
  if (authenticated) {
    router.push('/');
    //로그인에 성공 했으면 index로 이동 시켜주니깐
    //await useAuthStore 를 쓰겠다는 것
    //useAuthStore 필요한 것만 가져가 쓰겠다.
  }
};
</script>

<template>
  <NuxtPage />

  <div>
    <div class="title">
      <h2>Login</h2>
    </div>
    <div class="container form">
      <label for="uname"><b>아이디</b></label>
      <input
          v-model="user.username"
          type="text"
          class="input"
          placeholder="Enter Username"
          name="uname"
          required
      />

      <label for="psw"><b>비밀번호</b></label>
      <input
          v-model="user.password"
          type="password"
          class="input"
          placeholder="Enter Password"
          name="psw"
          required
      />

      <button
          @click.prevent="login" class="button">Login</button>
    </div>
  </div>
</template>

<style scoped>

</style>